<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My Personal Robot</title>
        <meta name="description" content="Welcome to your robot's website!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <h1>Welcome to your own robot!</h1>
            <p>Talk and train your personal robot! Observe his observations through his 3D camera!</p>
            <p>Explore the worlds around him through this website, or use the <strong>built-in/cloud 3D rendering engine!</strong></p>
        </div>
    </body>
</html>